[submodule "DirectXGame/imgui"]
	path = DirectXGame/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "DirectXGame/tinyobjloader"]
	path = DirectXGame/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
